<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhuangfei.hputimetable">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launch"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launch"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:theme="@style/mainTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.hpu.ImportMajorActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".activity.schedule.TimetableDetailActivity" />
        <activity android:name=".activity.hpu.HpuRepertoryActivity" />
        <activity android:name=".activity.schedule.AddTimetableActivity" />
        <activity android:name=".activity.MenuActivity" />
        <activity android:name=".activity.WebViewActivity" />
        <activity android:name=".activity.schedule.TimetableManagerActivity" />
        <activity android:name=".activity.schedule.MultiScheduleActivity" />

        <!-- 桌面小部件 -->
        <receiver
            android:name=".appwidget.ScheduleAppWidget"
            android:label="课表日视图">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.TIME_SET" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.zhuangfei.action.POINTER_CLICK" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.zhuangfei.action.APPWIDGET_UPDATE" />
            </intent-filter>


            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/schedule_app_widget_info" />
        </receiver>

        <service
            android:name=".appwidget.ScheduleService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <activity android:name=".activity.AboutActivity" />
        <activity android:name=".activity.ScanActivity" />
        <activity android:name=".activity.schedule.CreateScheduleNameActivity" />
        <activity android:name=".activity.schedule.ModifyScheduleNameActivity" />
        <activity android:name=".specialarea.SpecialAreaActivity" />
        <activity
            android:name=".activity.adapter.SearchSchoolActivity"
            android:theme="@style/searchTheme"
            android:windowSoftInputMode="stateHidden"/>

        <activity android:name=".activity.adapter.UploadHtmlActivity" />
        <activity android:name=".activity.adapter.AdapterTipActivity" />
        <activity android:name=".activity.adapter.AdapterSchoolActivity" />
        <activity android:name=".activity.adapter.AdapterSameTypeActivity" />
        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/splash">

        </activity>
        <activity android:name=".activity.debug.AdapterDebugListActivity" />
        <activity android:name=".activity.debug.AdapterDebugHtmlActivity" />
        <activity android:name=".activity.debug.DebugActivity" />
        <activity android:name=".activity.debug.AdapterDebugTipActivity" />
        <activity android:name=".activity.debug.DebugDisplayActivity"></activity>
        <activity android:name=".activity.ThemeMarketActivity"></activity>
        <activity android:name=".activity.StationWebViewActivity"></activity>
        <activity android:name=".activity.MessageActivity"></activity>
        <activity android:name=".activity.BindSchoolActivity"></activity>
    </application>

</manifest>