<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhuangfei.hputimetable">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launch"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launch"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/mainTheme">

        </activity>
        <activity
            android:name=".ImportMajorActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".TimetableDetailActivity" />
        <activity android:name=".HpuRepertoryActivity" />
        <activity android:name=".AddTimetableActivity" />
        <activity android:name=".MenuActivity" />
        <activity android:name=".WebViewActivity" />
        <activity android:name=".TimetableManagerActivity" />
        <activity android:name=".MultiScheduleActivity" />

        <!-- 桌面小部件 -->
        <receiver android:name=".appwidget.ScheduleAppWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.TIME_SET" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.zhuangfei.action.POINTER_CLICK" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.zhuangfei.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/schedule_app_widget_info" />
        </receiver>

        <service
            android:name=".appwidget.ScheduleService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <activity android:name=".AboutActivity" />
        <activity android:name=".ScanActivity" />
        <activity android:name=".CreateScheduleNameActivity" />
        <activity android:name=".ModifyScheduleNameActivity" />
        <activity android:name=".specialarea.SpecialAreaActivity" />
        <activity android:name=".SearchSchoolActivity" android:theme="@style/mainTheme"/>
        <activity android:name=".UploadHtmlActivity" />
        <activity android:name=".AdapterTipActivity" />
        <activity android:name=".AdapterSchoolActivity" />
        <activity android:name=".AdapterSameTypeActivity" />
        <activity android:name=".SplashActivity" android:theme="@style/splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>